/* reset */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li,
footer, header, menu, nav
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

/* icon font */
@font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.flaticon-loupe:before { content: "\f100"; }
.flaticon-ellipsis:before { content: "\f101"; }
.flaticon-cloud:before { content: "\f102"; }
.flaticon-facebook:before { content: "\f103"; }
.flaticon-twitter:before { content: "\f104"; }
.flaticon-instagram:before { content: "\f105"; }
.flaticon-pinterest-logo:before { content: "\f106"; }
.flaticon-youtube:before { content: "\f107"; }
.flaticon-linkedin:before { content: "\f108"; }

