/* reset */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li,
footer, header, menu, nav
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/* style de la page */
html, body {
    min-height: 100%;
}

body {
    background-image: url("lausanne_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

svg {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #000a;
}

h1 {
    font-weight: bold;
    font-size: 1.25em;
    text-transform: uppercase;
    /* centrer le titre dans le header */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    height: 20px;
}

header a {
    padding: 20px;
}

.meteo, .reseaux_sociaux {
    display: none;
}