/* reset */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li,
footer, header, menu, nav
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/* style de la page */
html, body {
    min-height: 100%;
}

body {
    background-image: url("lausanne_img_mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

svg {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #000a;
}

h1 {
    font-weight: bold;
    font-size: 1.25em;
    text-transform: uppercase;
    /* centrer le titre dans le header */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 20px;
}

header a {
    padding: 20px;
}

header a:hover * {
    filter: drop-shadow(0 0 5px #fff);
}

.meteo, .reseaux_sociaux {
    display: none;
}

.temp:before {
    content: '|';
    padding: 0 5px;
}

/* div nécessaire pour que les liens soient en bas de l'écran */
.container_liens {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.liens {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.liens li {
    background-color: #fff4;
    padding-bottom: 1px;
}

.liens li a {
    display: block;
    padding: 20px;
    background-color: #000a;
    color: #fff;
    font-size: 1.25em;
}

.liens li a:hover {
    background-color: #0008;
}

/* media query tablette */
@media screen and (min-width: 768px) {

    /* changement de l'image de fond */
    body {
        background-image: url("lausanne_img.jpg");
    }

    /* affichage de la météo et des réseaux sociaux */
    .meteo, .reseaux_sociaux {
        display: initial;
    }

    /* réglage de l'alignement de la météo */
    .meteo svg, .meteo span {
        vertical-align: top;
    }

    .reseaux_sociaux {
        color: white;
        /* centrer verticalement les réseaux sociaux dans la page */
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }

    .reseaux_sociaux span {
        display: none;
    }

    .reseaux_sociaux li a {
        display: flex;
        align-items: center;
        background-color: #12435f;
        width: fit-content;
    }

    .reseaux_sociaux svg {
        background-color: #2c83c2;
        width: 24px;
        height: 24px;
        padding: 16px;
    }

    .reseaux_sociaux span {
        padding: 16px;
        font-size: 1.25em;
    }

    .reseaux_sociaux svg:hover {
        background-color: #12435f;
    }

    .reseaux_sociaux svg:hover ~ span {
        display: initial;
    }

    /* affichage des liens à l'horizontale */
    .liens {
        flex-direction: row;
    }

    .liens li {
        width: 100%;
        padding: 0 1px 0 0;
    }

}

/* media query desktop */
@media screen and (min-width: 992px) {

    /* agrandissement des polices et des glyphes */
    body {
        font-size: 120%;
    }
    svg {
        min-width: 20px;
        min-height: 20px;
    }
    .logo {
        padding: 6px;
    }
    .logo img {
        height: 48px;
    }

}